@media screen and (max-width: 800px) {
  .menu-label {
    display: flex;
    order: 2;
  }

  .menu-label img {
    height: 20px;
    width: 25px;
  }

  .navbar__list {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    left: 5%;
    right: 5%;
    background: #0f1525;
    border: 3px solid blue;
    border-top: 0;
    padding: 45px 30px;
    border-radius: 0 0 15px 15px;
    display: none;
    z-index: 2;
  }

  #menu-toggle:checked ~ .navbar__list {
    display: flex;
  }

  .hero-info p {
    display: none;
  }

  #hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    padding: 80px;
  }

  .hero-info h1 {
    padding: 15px 15px 0 0;
    width: 700px;
    justify-content: center;
  }

  #hero img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  .registro__container {
    width: 500px;
  }

  .login__container {
    width: 500px;
    height: 400px;
  }
}

@media screen and (max-width: 500px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
  }

  header {
    width: 100%;
    max-width: 500px;
  }

  #hero {
    margin: auto 0;
    padding: 80px;
  }

  .hero-info h1 {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #hero img {
    width: 400px;
    height: 250px;
  }

  .login__container {
    width: 450px;
    height: 350px;
  }

  .registro__container {
    width: 450px;
  }
}

@media screen and (max-width: 400px) {
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 400px;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
  }

  header {
    width: 100%;
    max-width: 400px;
    padding: 0;
    border: 0;
  }

  .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 400px;
  }

  .navbar__list {
    top: 80px;
  }

  #menu-toggle {
    width: 50px;
  }

  #hero {
    max-width: 400px;
    width: 100%;
  }

  #hero img {
    max-width: 400px;
    width: 100%;
    height: auto;
  }

  #hero h1 {
    font-size: 30px;
    padding: 0 10px;
    text-align: center;
    max-width: 100%;
    width: 300px;
  }

  .about-container p {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .login__container {
    width: 300px;
    height: 400px;
  }

  .registro__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 524px;
  }

  footer {
    width: 100%;
    max-width: 400px;
  }

  #cards {
    max-width: 400px;
    width: 100%;
  }

  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
  }
}
