@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@100;400;600;800&display=swap");

* {
  margin: 0;
  pad: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: auto 0;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  position: fixed;
}

#menu-toggle,
.menu-label {
  display: none;
}

.navbar {
  justify-content: center;
  align-items: center;
}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
  margin: 20px;
}

.navbar__list li {
  display: flex;
  align-items: center;
}

.navbar__list a {
  color: whitesmoke;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  gap: 40px;
}

.logo {
  height: 70px;
  margin: 15px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: rgb(17, 14, 14);
}

#hero {
  margin: 70px 70px 0 0;
  display: flex;
  justify-content: center;
}

.hero-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-info h1 {
  font-size: 40px;
  font-weight: 800;
  color: blue;
  text-align: center;
}

.hero-info p {
  font-size: 14px;
  color: whitesmoke;
  width: 80%;
  margin-bottom: 15px;
}

#hero img {
  width: 450px;
  height: 300px;
  margin: 150px 0;
}

.about {
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.tittle {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 70px 70px 30px 30px;
  color: antiquewhite;
}

#cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 1200px;
}

.cards__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.cards {
  background-color: blue;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  max-width: 300px;
  font-weight: 600;
}

.cards img {
  height: 200px;
}

#contacto {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 110px;
}

.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.contact__container h2 {
  color: antiquewhite;
}

.contact__info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  font-weight: 800;
}

.contact__info img {
  height: 20px;
}

.contact__info {
  color: antiquewhite;
}

.contact {
  display: flex;
  gap: 5px;
}

footer {
  display: flex;
  justify-content: center;
  color: antiquewhite;
  margin: 0px 0px 15px 15px;
}

/*REGISTRO*/

body {
  background-color: rgb(17, 14, 14);
}

.registro__container {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  border: 5px solid blue;
  justify-content: center;
}

.info__registro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: antiquewhite;
  gap: 10px;
  font-size: 16px;
}

.registro__container h2 {
  color: antiquewhite;
  display: flex;
  justify-content: center;
  margin: 30px;
}

.checkbox {
  display: flex;
  justify-content: center;
  margin: 20px;
  color: antiquewhite;
}

.Enviar {
  border-radius: 15px;
}

/*LOGIN*/

body {
  background-color: rgb(17, 14, 14);
}

.login__container {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  border: 5px solid blue;
  justify-content: center;
}

.info__login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: antiquewhite;
  gap: 10px;
  font-size: 16px;
}

.login__container h2 {
  color: antiquewhite;
  display: flex;
  justify-content: center;
  margin: 30px;
}

.btn__login a {
  color: rgb(17, 14, 14);
  font-size: 15px;
  text-decoration: none;
  border: 1px solid antiquewhite;
  background-color: antiquewhite;
}

.login {
  margin: 20px;
}

.login a {
  color: blue;
}
